* {
	margin: 0;
	padding: 0;
	font-family: 'Barlow', sans-serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
/*  Global attributes  */
.container {
	padding: 0 7%;
}
.flex {
	display: flex;
	flex-wrap: nowrap;
}
.justify-between {
	justify-content: space-between;
}
.display-inline {
	display: inline-block;
}
.padding-5 {
	padding: 0 5px;
}
/* End global attributes */
/* ***************************************************************  */
/* Nav */
.topNav {
	padding: 7px 0;
	background-color: #ff4d29;
	color: #fff;
}
.socialMedia div {
	background: #ffffff7d;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.socialMedia div i {
	padding-top: 5px;
}
.socialMedia div:hover {
	background-color: #fff;
	color: #ff4d29;
	transition: 1s;
}
/* End nav */